@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: #00000069;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px black; 
}

*::selection {
	background: rgba(55,70,55,0.4);
}

a {
	text-decoration: none;
	color: darkslateblue;
}

a:hover {
	color: lightgreen;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	font-size: 16px;
	color: #000;
	background: url("https://funart.pro/uploads/posts/2021-04/1618596486_17-funart_pro-p-oboi-fon-chernaya-abstraktsiya-18.jpg") fixed;
	display: inline;
}

#verticalContainer {
	background: rgba(255,255,255,0.3);
	width: 25%;
	min-height: 100%;
	display: inline-block;
}

#verticalContainer #blockInfo {
	background: rgba(0,0,0,0.3);
	min-height: 25%;
	border: 1px solid yellow;
	border-width: 1px 0 0 0;
	border-radius: 0 0 30px 0;
	transition: transform 5s;
	cursor: ne-resize;
	box-shadow: 12px 5px yellow, 15px 12px black;
	width: 95%;
}

#afterBlockInfo {
	position: fixed;
	background: rgba(0,0,0,0.3);
	transform: translateX(-100%);
	transition: transform 4.4s ease;
	cursor: ne-resize;
	box-shadow: -20px -100px 100em lightcyan;
} 

#verticalContainer #blockInfo:hover {
	transform: translateX(315%);
}

#afterBlockInfo #afterImg {
	width: 170px;
}

main:hover #afterBlockInfo {
	transform: translateX(635%);
}

#verticalContainer #blockInfo h1 {
	color: white;
	font-family:'Rubik Moonrocks', cursive;
	font-size: 40px;
	text-align: center;
	margin-top: 40%;
}

#verticalContainer #menu {
	background: rgba(255, 255, 255, 0.5);
	color: white;
	font-size: 20px;
	margin-top: 20px;
	padding: 20px 40px 40px 40px;
	border-radius: 50% 50% 0 0;
}

#verticalContainer #menu:hover {
	background: -webkit-linear-gradient(90deg, transparent,#866a88);
	background: linear-gradient(90deg, transparent,#866a88);
}

#verticalContainer #menu li {
	margin: 15px;
	border-radius: 80% 0 0 0;
}

#verticalContainer #menu li:nth-child(2) {
	margin-left: 25px;
}

#verticalContainer #menu li:nth-child(3) {
	margin-left: 45px;
}

#verticalContainer #menu li:nth-child(4) {
	margin-left: 65px;
}

#verticalContainer #discord {
	color: mediumvioletred;
	background: rgba(50,250,50,0.5);
}

#verticalContainer #vkontakte {
	color: lightcyan;
	background: rgba(255,100,50,0.5);
}

#verticalContainer #telegram {
	color: steelblue;
	background: rgba(255,255,255,0.5);
}

#verticalContainer #github {
	color: black;
	background: rgba(255,255,0,0.5);
}

#verticalContainer #history {
	background: rgba(255, 255, 255, 0.5);
	color: black;
	font-family: 'Shadows Into Light', cursive;
	font-size: 16px;
	height: 100%;
	padding: 0 0 25% 25px;
	border-radius: 0 0 20% 20%;
}

#verticalContainer #history:hover {
	background: -webkit-linear-gradient(90deg, transparent,#32cd32);
	background: linear-gradient(90deg, transparent,#32cd32);
}

#verticalContainer #history p {
	margin-top: 20%;
}

#gorizontalContainer {
	background: rgba(255,255,255,0.3);
	width: 75%;
	max-height: 100%;
	display: inline-block;
	float: right;
}

#gorizontalContainer #mainImg {
	position: fixed;
	margin-top: 16%;
	margin-left: 15%;
	opacity: 0.4;
	width: 600px;
	display: block;
	border-width: 1px 0 0 1px;
	border-radius: 30px;
	transition: opacity .6s cubic-bezier(0, 0, 0, 3);
	box-shadow: 10px 5px rgba(100,100,100,0.7);
}

#gorizontalContainer #mainImg:hover {
	opacity: 0.5;
	box-shadow: 10px 5px rgba(150,255,100,0.7);
}

@media (max-width: 720px) {

	#verticalContainer {
		width: 100%;
	}

	#gorizontalContainer {
		width: 100%;
		float: left;
	}

	#gorizontalContainer #mainImg {
		width: 100%;
		max-height: 100%;
		border-radius: 0;
	}2
}